<div class="customer-info">
  <% if customer.avatar.attached? %>
    <%= image_tag customer.avatar, size:"100x100" %>
  <% else %>
    <p>No avatar uploaded.</p>
  <% end %>
  <p><strong></strong> <%= customer.name %></p>

  <p><strong></strong> <%= customer.email %></p>

  <p><strong></strong> <%= customer&.profile || "-" %></p>

  <p><strong></strong></p>
  
</div>
