<div id="<%= dom_id musiclabel %>">
  <div>
    <strong>Name:</strong>
    <%= musiclabel.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= musiclabel.email %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= musiclabel.year %>
  </div>

</div>
