<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy Buys! <%= @product.name %>!</h1>
    <p>
      You have successfully joined this community
      your email is: <%= @product.product_email %>.<br>
    </p>
    
    <p>Thanks for buying this product!</p>
  </body>
</html>