<% content_for :title, "Editing musiclabel" %>

<h1>Editing musiclabel</h1>

<%= render "form", musiclabel: @musiclabel %>

<br>

<div>
  <%= link_to "Show this musiclabel", @musiclabel %> |
  <%= link_to "Back to musiclabels", musiclabels_path %>
</div>
